In [2]:
import sys
import os
import importlib
import json
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = 'all'

project_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.append(os.path.join(project_dir, 'src', 'utilities'))
import utilities as utils

dataset_config_path = os.path.join(
    project_dir, 'configs', 'datasets_config.json')
with open (dataset_config_path) as json_config:
    dataset_config_options = json.load(json_config)

In [3]:
# Import if using in a the notebook within a browser
# from IPython.core.display import HTML
# display(HTML("<style>.container { width:90% !important; }</style>"))

In [4]:
# Run if changes are made to the datasets_config file or utilities
importlib.reload(utils)
with open (dataset_config_path) as json_config:
    dataset_config_options = json.load(json_config)

In [5]:
dataset_key = 'telco-customer-churn'
dataset_config = dataset_config_options[dataset_key]
io_dir = os.path.join(project_dir, 'data', dataset_key)
raw_data_path = os.path.join(io_dir, 'raw', dataset_config['raw_data_filename'])

In [6]:
df = pd.read_csv(raw_data_path)

In [7]:
df.head()
df.describe()
df.info()
# Check for missing values
df.isna().sum()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [8]:
for col in df.columns:
    col_dtype = df[col].dtype
    unique_values = sorted(df[col].unique())
    first_five = ', '.join(map(str, unique_values[0:5]))
    if len(unique_values) < 5:
        f'{col} ({col_dtype}): [{first_five}]'
    else:
        last_two = ', '.join(map(str, unique_values[-2:]))
        f'{col} ({col_dtype}): [{first_five}...{last_two}]'

'customerID (object): [0002-ORFBO, 0003-MKNFE, 0004-TLHLJ, 0011-IGKFF, 0013-EXCHZ...9993-LHIEB, 9995-HOTOH]'

'gender (object): [Female, Male]'

'SeniorCitizen (int64): [0, 1]'

'Partner (object): [No, Yes]'

'Dependents (object): [No, Yes]'

'tenure (int64): [0, 1, 2, 3, 4...71, 72]'

'PhoneService (object): [No, Yes]'

'MultipleLines (object): [No, No phone service, Yes]'

'InternetService (object): [DSL, Fiber optic, No]'

'OnlineSecurity (object): [No, No internet service, Yes]'

'OnlineBackup (object): [No, No internet service, Yes]'

'DeviceProtection (object): [No, No internet service, Yes]'

'TechSupport (object): [No, No internet service, Yes]'

'StreamingTV (object): [No, No internet service, Yes]'

'StreamingMovies (object): [No, No internet service, Yes]'

'Contract (object): [Month-to-month, One year, Two year]'

'PaperlessBilling (object): [No, Yes]'

'PaymentMethod (object): [Bank transfer (automatic), Credit card (automatic), Electronic check, Mailed check]'

'MonthlyCharges (float64): [18.25, 18.4, 18.55, 18.7, 18.75...118.65, 118.75]'

'TotalCharges (object): [ , 100.2, 100.25, 100.35, 100.4...999.8, 999.9]'

'Churn (object): [No, Yes]'

### Basic cleanup
- Remove any leading and trailing whitespace in the column names
- Make feature name capitalization consistent
- Set index to 'customerID' and check for duplicates
- Convert object/str features to int or float and vice versa if appropriate
    - Convert any feature considered categorical to an object dtype
- Handle missing values
    - No NaN values were detected
    - But 'TotalCharges' has a blank string
    - So let's fill these in

In [9]:
# Remove leading and trailing whitespace form the column names
df.rename(columns=lambda x: x.strip(), inplace=True)
# Capitilize the first letter of the column names without affecting the rest of the letters
df.rename(columns=lambda x: x[:1].upper() + x[1:], inplace=True)

In [10]:
df = df.set_index(keys=['CustomerID'], drop=True, verify_integrity=True)

In [11]:
# 'SeniorCitizen' is categorical, so let's make its dtype consistent with other categorical features
df['SeniorCitizen'] = df['SeniorCitizen'].astype('object').replace({0: 'No', 1: 'Yes'})
col_dtype = df['SeniorCitizen'].dtype
unique_values = sorted(df['SeniorCitizen'].unique())
first_five = ', '.join(map(str, unique_values[0:5]))
f'SeniorCitizen ({col_dtype}): [{first_five}]'

'SeniorCitizen (object): [No, Yes]'

In [12]:
# Empty strings will be converted to NaN
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
col_dtype = df['TotalCharges'].dtype
unique_values = sorted(df['TotalCharges'].unique())
first_five = ', '.join(map(str, unique_values[0:5]))
last_two = ', '.join(map(str, unique_values[-2:]))
f'TotalCharges ({col_dtype}): [{first_five}...{last_two}]'
f'Missing values: {df["TotalCharges"].isna().sum()}'

'TotalCharges (float64): [18.8, 18.9, 19.0, 19.05, 19.1...8672.45, 8684.8]'

'Missing values: 11'

In [13]:
df.loc[df['TotalCharges'].isna()].shape
df.loc[df['TotalCharges'].isna()].head()
df.loc[~(df['TotalCharges'].isna())].head()

(11, 20)

,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
CustomerID,,,,,,,,,,,,,,,,,,,,
4472-LVYGI,Female,No,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
3115-CZMZD,Male,No,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN,No
5709-LVOEQ,Female,No,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN,No
4367-NUYAO,Male,No,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN,No
1371-DWPAZ,Female,No,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN,No

,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
CustomerID,,,,,,,,,,,,,,,,,,,,
7590-VHVEG,Female,No,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
5575-GNVDE,Male,No,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
3668-QPYBK,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
7795-CFOCW,Male,No,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
9237-HQITU,Female,No,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [14]:
sorted(df.loc[df['TotalCharges'].isna()]['Tenure'].unique())
sorted(df.loc[~(df['TotalCharges'].isna())]['Tenure'].unique())[0:5]
0 in df.loc[df['TotalCharges'].isna()]['Tenure'].unique()
0 in df.loc[~(df['TotalCharges'].isna())]['Tenure'].unique()
df.loc[df['Tenure'] == 1]['MonthlyCharges'].equals(df.loc[df['Tenure'] == 1]['TotalCharges'])
df['MonthlyCharges'].equals(df['TotalCharges'])

[0]

[1, 2, 3, 4, 5]

True

False

True

False

Filling in 'TotalCharges' missing values
- 'TotalCharges' has a value of NaN when 'tenure' is 0
- When 'tenure' == 1, 'MonthlyCharges' and 'TotalCharges' are equivalent
- Replacing NaN with 0 in 'TotalCharges' is appropriate and implies the customer has not paid their first monthly charge yet

In [15]:
df['TotalCharges'] = df['TotalCharges'].fillna(0)
col_dtype = df['TotalCharges'].dtype
unique_values = sorted(df['TotalCharges'].unique())
first_five = ', '.join(map(str, unique_values[0:5]))
last_two = ', '.join(map(str, unique_values[-2:]))
f'TotalCharges ({col_dtype}): [{first_five}...{last_two}]'
f'Missing values: {df["TotalCharges"].isna().sum()}'

'TotalCharges (float64): [0.0, 18.8, 18.85, 18.9, 19.0...8672.45, 8684.8]'

'Missing values: 0'

In [16]:
df.sort_values(by=['TotalCharges'], ascending=True, na_position='first').head()
df.sort_values(by=['TotalCharges'], ascending=True, na_position='first').tail()

,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
CustomerID,,,,,,,,,,,,,,,,,,,,
3213-VVOLG,Male,No,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,0.0,No
2923-ARZLG,Male,No,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,0.0,No
2520-SGTTA,Female,No,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,0.0,No
3115-CZMZD,Male,No,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,0.0,No
4472-LVYGI,Female,No,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,0.0,No

,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
CustomerID,,,,,,,,,,,,,,,,,,,,
8879-XUAHX,Male,No,Yes,No,71,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Electronic check,116.25,8564.75,No
9788-HNGUT,Male,No,Yes,No,72,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),116.95,8594.40,No
9739-JLPQJ,Female,No,Yes,Yes,72,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),117.50,8670.10,No
7569-NMZYQ,Female,No,Yes,Yes,72,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),118.75,8672.45,No
2889-FPWRM,Male,No,Yes,No,72,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,One year,Yes,Bank transfer (automatic),117.80,8684.80,Yes

### Cleaning complete

In [17]:
df.describe()
df.info() 
df.isna().sum()

            Tenure  MonthlyCharges  TotalCharges
count  7043.000000     7043.000000   7043.000000
mean     32.371149       64.761692   2279.734304
std      24.559481       30.090047   2266.794470
min       0.000000       18.250000      0.000000
25%       9.000000       35.500000    398.550000
50%      29.000000       70.350000   1394.550000
75%      55.000000       89.850000   3786.600000
max      72.000000      118.750000   8684.800000

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   object
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   Tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(17)
memory usage: 1.1+ MB

Gender              0
SeniorCitizen       0
Partner             0
Dependents          0
Tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### Feature engineering thoughts for machine learning pipelines
- Rework 'InternetService'
    - Rename 'InternetService' to 'InternetServiceType' to retain the higher cardinality version
    - Create a new 'InternetService' feature and convert 'DSL' and 'Fiber optic' to 'Yes' for a reduced cardinality version
- Create 'Tenure', 'MonthlyCharges', and 'TotalCharges' quartile features

- Experiments within SciKit machine learning pipelines:
    - reducing high-cardinality features
    - encoding some of the features as ordinal data
    - dropping features
- Handle as much feature encoding as possible within the SciKit machine learning pipelines:
    - Nominal feature: OneHotEncoder
    - Ordinal features: OrdinalEncoder

In [18]:
df = df.rename({'InternetService': 'InternetServiceType'}, axis=1)
df['InternetService'] = df['InternetServiceType'].apply(lambda x: 'No' if x == 'No' else 'Yes')
# Sanity check
df['InternetService'].value_counts()
df['InternetServiceType'].value_counts()

InternetService
Yes    5517
No     1526
Name: count, dtype: int64

InternetServiceType
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64

In [19]:
# target_variable will be used in several cells below
target_variable = 'Churn'
categorical_variables = []
for col in df.columns:
    if pd.api.types.is_string_dtype(df[col]) and col != target_variable:
        categorical_variables.append(col)
numerical_variables = []
for col in df.columns:
    if pd.api.types.is_numeric_dtype(df[col]) and col != target_variable:
        numerical_variables.append(col)
categorical_variables
numerical_variables

['Gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetServiceType',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'InternetService']

['Tenure', 'MonthlyCharges', 'TotalCharges']

In [20]:
for num_var in numerical_variables:
    quartiles = df[num_var].quantile([0.25, 0.5, 0.75]).to_dict()
    df[f'{num_var}Quartile'] = df.apply(utils.assign_quartile, col=num_var, quartiles=quartiles, axis=1)
    df[f'{num_var}Quartile'] = df[f'{num_var}Quartile'].astype('str')
    categorical_variables.append(f'{num_var}Quartile')

### Save the processed dataframe

In [21]:
df.to_csv(os.path.join(io_dir, 'processed', 'df.csv'))